---
import logo from '../../img/logotipoInnova.png'
import { Icon } from 'astro-icon'
---
<nav class="bg-blue-gray-900 border-b py-3">
    <div class="flex justify-between items-center px-14">
        <!-- Aumenté el padding aquí para añadir espacio en los lados -->
        <!-- Ícono de Menú -->
        <button id="menuBtn">           
            <Icon class="justify-self-center col-start-2 text-white" name="ic:sharp-menu" width="40" height="40" />
        </button>

        <!-- Logo -->
        <div class="ml-1">
            <a href="/"><img src={logo.src} alt="logo"></a>
        </div>

        <!-- Ícono de Notificación y Perfil -->
        <div class="space-x-4">
            <button>
                <Icon class="justify-self-center col-start-2 text-white" name="ic:twotone-notifications-none" width="30" height="30" />
            </button>

        </div>
    </div>
</nav>
<div class=" container grid grid-cols-12 mx-auto max-w-full gap-4">    
    <div class="col-span-2 bg-blue-gray-900 min-h-screen">
        <div>
            <a href="/admin/cotizaciones" class="grid grid-cols-6 py-5 text-white hover:bg-blue-gray-500">
                <Icon class="justify-self-center col-start-2" name="ic:round-mail" width="30" height="30" />
                <p class="text-2xl grid col-span-3">Cotizaciones</p>
            </a>
        </div>
        <div>
            <a href="#" class="grid grid-cols-6 py-5 text-white hover:bg-blue-gray-500">
                <Icon class="justify-self-center col-start-2" name="ic:baseline-account-box" width="30" height="30" />
                <p class="text-2xl grid col-span-3">Mi Cuenta</p>
            </a>
        </div>
        <div>
            <a href="/" class="grid grid-cols-6 py-5 text-white hover:bg-blue-gray-500">
                <Icon class="justify-self-center col-start-2" name="ic:baseline-exit-to-app" width="30" height="30" />
                <p class="text-2xl grid col-span-3">Cerrar Sesion</p>
            </a>
        </div>
    </div>
    <slot/>
</div>