---
import Layout from '../layouts/Layout.astro';
import LayoutCard from '../layouts/LayoutCard.astro';
import LayoutCarousel from '../layouts/LayoutCarousel.astro';

import SectionInicio from '../components/SectionInicio.astro'

import Cards from '../componentsReact/card'

---

<Layout title="Innova Car Service">
	<main>
		<LayoutCarousel />
		<LayoutCard>
			<Cards />
		</LayoutCard>
		<SectionInicio />	
	</main>	
</Layout>

