---
import Layout from '../layouts/Layout.astro';
import LayoutCard from '../layouts/LayoutCard.astro';

import SectionInicio from '../components/SectionInicio.astro'

import Cards from '../componentsReact/card'
import LCarouselImage from '../componentsReact/carousel.jsx'

---

<Layout title="Innova Car Service">
	<main>
		<LCarouselImage client:visible/>
			<LayoutCard>
				<Cards client:visible/>
			</LayoutCard>
		<SectionInicio />	
	</main>	
</Layout>

