---
import Layout from "../layouts/Layout.astro";
import LayoutInicio from "../layouts/LayoutInicio.astro";

import { MecanicEspecializada } from "../componentsReact/contentService.jsx"
---

<Layout title="Mecanica Especializada"> 
        <LayoutInicio title="Mecanica Especializada">
            <div class="sm:mx-10 md:mx-52 max-sm:px-10 grid grid-cols-1">
                <MecanicEspecializada />
            </div>
        </LayoutInicio>
</Layout>