---
import Layout from "../layouts/Layout.astro";
import LayoutInicio from "../layouts/LayoutInicio.astro";

import { PlanchadoyPintura } from "../componentsReact/contentService.jsx"
---

<Layout title="Planchado y Pintura"> 
        <LayoutInicio title="Planchado y Pintura">
            <div class="sm:mx-10 md:mx-52 max-sm:px-10 grid grid-cols-1">
                <PlanchadoyPintura />
            </div>
        </LayoutInicio>
</Layout>