---
interface ImageMetaData {
    src: string;
}
import imagen1 from '../img/sectionInicio/portada-web-multimarca-01.png'
import imagen2 from '../img/sectionInicio/informacion-permanente.png'
import imagen3 from '../img/sectionInicio/todos-los-servicios.png'
import imagen4 from '../img/sectionInicio/recojo-domicilio.png'
---
<div class="container mx-auto max-w-xxl">
    <div class="grid grid-cols-2 gap-8">
        <div class="max-w-4">
            <img src={imagen1.src} alt="" class="mx-auto w-full">
            <p class="text-center">SERVICIO GARANTIZADO</p>
            <p class="text-center">Nuestra garantia cubre todas las partes instaladas y los trabajos realizados en nuestro taller</p>
        </div>
        <div class="grid content-between">
            <div class="grid grid-cols-2 gap-4">
                <img src={imagen2.src} alt="" class="mx-auto w-full">
                <div class="grid content-around justify-start">
                    <h3>INFORMACION PERMANENTE</h3>
                    <p>Te damos opciones de repuestos y servicios para adaptarnos a tu presupuesto.</p>
                </div>
            </div>
            <div class="grid grid-cols-2 gap-4">
                <img src={imagen3.src} alt="" class="mx-auto w-full">
                <div class="grid content-around justify-start">
                    <h3>TODOS LOS SERVICIOS</h3>
                    <p>Desde el cambio de aceite hasta la reparación del motor, incluyendo planchado y pintura</p>
                </div>

            </div>
            <div class="grid grid-cols-2 gap-4">
                <img src={imagen4.src} alt="" class="mx-auto w-full">
                <div class="grid content-around justify-start">
                    <h3>RECOJO A DOMICILIO</h3>
                    <p>Recogemos tu vehículo, lo llevamos al taller y una vez finalizado el trabajo te lo entregamos en tu domicilio (zonas aledañas)</p>
                </div>
                
            </div>  
        </div>
    </div>
    
</div>