---
interface Props {
	title: string;
}
import LayoutFooter from './LayoutFooter.astro';
import { ViewTransitions } from 'astro:transitions';

import { NavbarWithMegaMenu } from "../componentsReact/navbar"

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image" href="/logopage.png" />
		<meta name="generator" content={Astro.generator} />
		<ViewTransitions />
		<title>{title}</title>
	</head>
	<body class="font-sans">
		<NavbarWithMegaMenu client:visible/>
			<slot />
		<LayoutFooter />
	</body>
</html>

