---
interface Props {
	title: string;
}
const { title } = Astro.props;
---
<div>
    <div class="bg-blue-gray-300">
        <h2 class="text-center text-5xl py-4">{title}</h2>
    </div>
    <div class="mx-auto">
        <slot/>
    </div> 
    
</div>