---
interface ImageMetaData {
    src: string;
}
import imagen1 from '../img/carousel/imageCarousel2.png'
import imagen2 from '../img/carousel/imageCarousel1.png'
import imagen3 from '../img/carousel/imageCarousel3.png'
import imagen4 from '../img/carousel/imageCarousel4.png'
---

<div id="carousel-content">
    <div id="carousel-box">
        <div class="carousel-element">
            <img class="image" src={imagen1.src}>
        </div>

        <div class="carousel-element">
            <img class="image" src={imagen2.src}>
        </div>
        
        <div class="carousel-element">
            <img class="image" src={imagen3.src}>
        </div>

        <div class="carousel-element">
            <img class="image" src={imagen4.src}>
        </div>
    </div>
    
<style>
#carousel-box {
    -moz-animation: automatizacion 15s infinite linear;
    -o-animation: automatizacion 15s infinite linear;
    -webkit-animation: automatizacion 15s infinite linear;
    animation: automatizacion 15s infinite linear;
    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    transition: all 0.75s ease;
    height: 500px;
    width: 400%;
}
#carousel-content {
    margin: 0 auto;
    overflow: hidden;
    text-align: left;
}
.image{
    height: 700px;
    width: 100%;
}
.carousel-element {
    float: left;
    width: 25%;
}
@-moz-keyframes automatizacion {
    0% {
    margin-left: 0;
    }
    20% {
        margin-left: 0;
    }
    25% {
        margin-left: -100%;
    }
    45% {
        margin-left: -100%;
    }
    50% {
        margin-left: -200%;
    }
    70% {
        margin-left: -200%;
    }
    75% {
        margin-left: -300%;
    }
    
    99% {
        margin-left: -300%;
    }
    
    100% {
        margin-left: 0;
    }
}
@-webkit-keyframes automatizacion {
    0% {
        margin-left: 0;
    }
    20% {
        margin-left: 0;
    }
    25% {
        margin-left: -100%;
    }
    45% {
        margin-left: -100%;
    }
    50% {
        margin-left: -200%;
    }
    70% {
        margin-left: -200%;
    }
    75% {
        margin-left: -300%;
    }
    
    99% {
        margin-left: -300%;
    }
    
    100% {
        margin-left: 0;
    }
}
@keyframes automatizacion {
    0% {
        margin-left: 0;
    }
    20% {
        margin-left: 0;
    }
    25% {
        margin-left: -100%;
    }
    45% {
        margin-left: -100%;
    }
    50% {
        margin-left: -200%;
    }
    70% {
        margin-left: -200%;
    }
    75% {
        margin-left: -300%;
    }
    
    99% {
        margin-left: -300%;
    }
    
    100% {
        margin-left: 0;
    }
}
</style>

