---
interface Props {
	title: string;
}
const { title } = Astro.props;
---
<div class="container mx-auto max-w-full mt-24">
    <div class="bg-slate-400">
        <h2 class="text-center text-7xl py-4">{title}</h2>
    </div>
    <div>
        <slot/>
    </div> 
    
</div>